body{
	background-color: #272822;
	color: #ccc;
	margin: 0;
	padding: 0px;
}
#sidebar {
	position: absolute;
	left: 0px;
}

/* css config container */
fieldset {
	width: auto;
	border: 1px solid #6AC62E;
	color: #6AC62E;
	margin: 10px 0 10px 10px;
	position: relative;
}
#lines {
	margin: 0;
	padding: 0;
	color: #50C0EF;
}
#lines .key{
	text-align: right;
	font-style: italic;
}
#lines .value{
	text-align: left;
}
#lines .value > div{
	display: inline-block;
	text-decoration: underline;
	padding: 0 1px;
	cursor: pointer;
}
#lines .value > span{
	display: inline-block;
	cursor: default;
	width: 16px;
	height: 16px;
}

/* real code container */
#code {
	color: #6AC62E;
	padding: 0;
	margin: 0;
}

/* target container */
#preview {
	position: absolute;
	padding: 50px;
	border: 0px solid gray;
	right: 0px;
}

/* default config */
#target {
	border: 1px solid #921;
	width: 200px;
	height: 200px;
	text-align: center;
	position: relative;

	border-radius: 10px;
	/*
	box-shadow: #666 5px 10px 20px;
	background-image: -webkit-linear-gradient(#fff, #000);*/
}
#target>.text {
	position: absolute;
	font-size: 20px;
	width: 70px;
	height: 24px;
	top: 50%;
	margin-top: -12px;
	left: 50%;
	margin-left: -35px;
}

.picker {
	position: absolute;
	display: none;
	z-index: 1000;
	margin-top: 20px;
	border: 0px solid #999;
	border-width: 1px 0 0 1px;
	-webkit-box-shadow: #999 2px 2px 6px;
	-moz-box-shadow: #999 2px 2px 6px;
	box-shadow: #999 2px 2px 4px;
	opacity: .8;
	background-color: #666;

	list-style: none;
	padding: 0;
	cursor: default;
}

.picker>li {
	list-style: none;
	margin: 2px;
}
.picker>input{
	width: 400px;
}